.card-wrapper {
  position: relative;
  height: 315px;
  perspective: 2000px;
  perspective-origin: bottom;

  &.with-hover .card:hover,
  .card.flipped-card {
    transform: rotateY(180deg);
  }

  .card {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    color: white;
    font-weight: bold;

    .card-recto,
    .card-verso {
      position: absolute;
      //   height: 100%;
      //   width: 100%;
      inset: 0;
      padding: 20px;
      border-radius: 4px;
      backface-visibility: hidden;
      --webkit-backface-visibility: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      overflow: auto;

      .flip-icon,
      .flip-button {
        position: absolute;
        right: 8px;
        bottom: 0px;
        font-size:2rem;
        cursor: pointer;
      }
    }
    .card-recto {
      background-color: #2c2c2c;
      // background-color: black;
    }
    .card-verso {
      transform: rotateY(180deg);
      background-color: #2c2c2c;
    }
  }
}
