.home-page {
  text-align: center;

  .home-header {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .home-link {
    color: #61dafb;
  }
}
