* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #2c2c2c;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

///////////////////////////////////////////

$BAR-WIDTH: 180px;

#root {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .portfolio {
    // position: relative;
    top: 0;
    margin-left: $BAR-WIDTH;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: $BAR-WIDTH;
    height: 100%;
    z-index: 500;
    background-color: rgba($color: #000000, $alpha: 0.5);

    li {
      display: inline;
      padding: 5px 10px;
      float: left;
      // &.nav-link {
      //   float: right;
      // }
      a {
        color: #4994a9;
        text-decoration: none;
        font-size: 1.6rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        .puce {
          width: 20px;
          padding: auto;
          font-size: 1rem;
        }
      }
      &.active-link {
        a {
          color: #cdeaf1;
        }
      }
    }
  }
}

.portfolio-page {
  width: auto;
  background-image: none;

  h1,
  .portfolio-section {
    width: 80%;
    max-width: 1024px;
    margin: 30px auto;
    border-radius: 4px;
  }

  h1 {
    padding: 30px 15px;
    font-size: calc(24px + 3vmin);

    position: relative;
    text-align: center;

    box-shadow: inset rgb(0, 0, 0) 0px 0px 3px;
  }
  &.music-page h1 {
    background-image: url('assets/pink-fluid.png');
    background-position: 60% 50%;
  }
  &.drawing-page h1 {
    background-image: url('assets/red-fluid.png');
    background-position: 50% 50%;
  }
  &.video-page h1 {
    background-image: url('assets/red-fluid.png');
    background-position: 50% 20%;
  }

  .portfolio-section {
    padding: 15px;
    background-color: #404040;
    // box-shadow:
    // // inset rgba(184, 178, 178) 0px 0px 1px;
    //   inset rgba(184, 178, 178) 0px 0px 5px;
    // // inset rgba(184, 178, 178) 0px 0px 15px;

    h2 {
      font-size: calc(16px + 2vmin);
      text-align: center;
      margin: 0 0 10px 0;
    }

    .section-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 20px;
      align-items: center;

      & > :nth-child(1) {
        grid-area: left;
      }
      & > :nth-child(2) {
        grid-area: right;
      }
    }
    &:nth-child(even) .section-container {
      grid-template-areas: 'left right';
    }
    &:nth-child(odd) .section-container {
      grid-template-areas: 'right left';
    }

    .image-player {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      &.bagel-image {
        background-image: url('assets/Bagel.png');
      }
      &.donut-image {
        background-image: url('assets/Donut.png');
      }
      &.juice-wrld-image {
        background-image: url('assets/JuiceWrld.png');
      }
      &.warped-image {
        background-image: url('assets/pink-fluid.png');
      }
    }
  }
}
